# SPDX-FileCopyrightText: 2026 Gundu Labs
# SPDX-License-Identifier: GPL-3.0-or-later

[Desktop Entry]
Name=Gaze
Comment=Gaze 的 GTK4/Adwaita 图形界面
Exec=gaze-gui
Icon=com.gundulabs.Gaze
Terminal=false
Type=Application
Categories=Settings;Security;
Keywords=人脸;认证;登录;生物识别;
