<?xml version="1.0" encoding="UTF-8"?>
<!-- SPDX-FileCopyrightText: 2026 Gundu Labs -->
<!-- SPDX-License-Identifier: GPL-3.0-or-later -->

<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Gundu Labs</vendor>
  <vendor_url>https://gaze.gundulabs.com</vendor_url>

  <action id="com.gundulabs.gaze.clear-duress">
    <description>解除 Gaze 胁迫锁定</description>
    <message>收到胁迫信号后，重新启用人脸认证需要验证身份。</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.gundulabs.gaze.manage-faces">
    <description>管理 Gaze 人脸录入</description>
    <message>管理 Gaze 人脸录入需要验证身份。</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="com.gundulabs.gaze.manage-config">
    <description>管理 Gaze 守护进程配置</description>
    <message>更改 Gaze 守护进程配置需要验证身份。</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="com.gundulabs.gaze.manage-gdm-profile">
    <description>管理 Gaze 的 GDM 登录认证</description>
    <message>更改 GDM 登录界面的 Gaze 人脸认证需要验证身份。</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
